body {
  margin: 0;
  padding: 0;
}

.light {
  background-color: white;
}

.dark {
  background-color: black;
}

.demo-background {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-button {
  margin: auto;
  padding: 12px 20px;
  font-size: 30px;
}
